input[type="text"]{
    width:350px ;
    margin:50px;
    margin-top:80px;
     padding:0;
     height:28px;
     text-align:center;
       font-size: 20px;
    position: relative;
    left: 30%;
    }
#add{
  background-color: rgb(110, 128, 185);
    margin:0px;
    padding:0;
    height:33px;
    width:50px;
    border-radius: 5px;
    position: relative;
    left: 27%;
}
/* #items:hover{
        background-color: rgb(187, 179, 179);
        padding:0px;
        margin: 0px;
        list-style-position: inside;
        height: 35;
        text-align: left;
} */
#todolist{
    font-family: 'ZCOOL XiaoWei', serif;
text-align: left;

}

#listitems{
    /*background-color: rgb(90, 86, 88);*/
    padding:0px;
    margin:0px;
    border-block-end-width: 10px;
    width: 350px;
    position: relative;
    left:38%;
    text-align:left;
    font-size:23px;
     }